<agm-map [latitude]="-3.385976" [longitude]="36.691675" [zoom]=15>

  <!-- <agm-polygon [paths]="paths"></agm-polygon> -->
  <!-- <agm-circle [latitude]="event.lat" [longitude]="event.lng"  *ngFor ="let event of paths" ></agm-circle> -->

  <!-- [editable]="true" -->
  <!-- [circleDraggable]="true" -->
  <agm-circle [latitude]="event.lat" [longitude]="event.lng"
  [radius]="250"
  [fillColor]="'red'"
    *ngFor ="let event of paths" >
</agm-circle>

<agm-circle [latitude]="event.lat" [longitude]="event.lng"
[radius]="800"
[fillColor]="'green'"
  *ngFor ="let event of securePaths" >
</agm-circle>



<agm-marker *ngIf="showStucked" iconUrl="assets/human_stucked_2.png"
[latitude]="-3.384847" [longitude]="36.685993">
</agm-marker>


<agm-marker *ngIf="showHealthy" iconUrl="assets/human_healthy_2.png"
[latitude]="-3.384847" [longitude]="36.685993">
</agm-marker>


</agm-map>
<div class="row d-flex justify-content-center btnPesquisarMeio" style="background-color: #c1c1c1; width: 100%; height: 150px;" *ngIf="showMenuImage">
    <a href="#" (click)="showMenu()">
      <img (click)="closeMenuImage()" src="/assets/menu.png">
    </a>
      <!-- <input type="text" class="form-control" placeholder="Pesquisar..."/> -->
</div>

<div class="row d-flex justify-content-center btnPesquisar" style="background-color: black; width: 100%; height: 70px;">
<!-- <div style="width: 100%;" class="btnPesquisar" style="background-color: black;"> -->
  <div class="d-flex justify-content-between">
      <div style="margin-right: 60px;">
        <a href="#" (click)="showGoEnabled()">
            <img src="/assets/go_enable_2.png">
        </a>
      </div>
      <div>
        <img src="/assets/separator.png">
      </div>
      <div style="margin-left: 60px;">
        <a href="#" (click)="showMenu()">
          <img  src="/assets/blocked_enable_2.png">
        </a>
      </div>
	</div>
	<!-- <div class="col-md-2">
	</div> -->
</div>

