agm-map {
  height: 800px;
 }

 /* Botão pesquisar e Mais Botões */
.btnPesquisar, .btnMaisBotoes{
	position: fixed;
	float: bottom;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}

 /* Botão pesquisar e Mais Botões */
 .btnPesquisarMeio, .btnMaisBotoes{
	position: fixed;
	float: bottom;
	bottom: 15px;
	right: 15px;
  z-index: 100;
  margin-bottom: 200px;
}


/* Botão superior esquerdo */
.btnSupEsquerdo{
	position: fixed;
	float: top;
	top: 15px;
	left: 15px;
	z-index: 100;
}

.btnPesquisarInput, .btnPesquisarBtn , .btnMaisBotoesBtn, .btnMaisBotoesGrupo{
	display: inline-block;
}

.btnCircular{
	border-radius: 50%;
}

.btnPrincipal{
	font-size: 20px;
	padding: 15px;
}

.btnSecundario{
	font-size: 15px;
	padding: 10px;
}


